@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Alfa Slab One');

/* html {
} */

#banner {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("../img/banner4.png");
    background-position:center;
    background-repeat: repeat-x;
}



#banner h1{
    position: absolute;
    font-family: sans-serif;
    letter-spacing: 8px;
    color: rgb(230,255,255);
    text-shadow: 0px 0px 70px rgb(22, 22, 22);
    animation: color-cycle 5s infinite ease-in-out;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    margin-top: -14px;
    text-align: center;
    width: 90%;
}

.logobanner {
   padding-bottom: 220px;
   transform: scale(0.85);
   min-width: 250px !important; 
}

/* .mainimg:hover{
    background-color: #20212b;
    transition: 250ms linear;
} */

/* .mainimg:hover{
    background: url(/img/banner2.png) center;
    transition: all linear 0.1s;
    position: relative;
}*/


/*#banner{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 300ms linear;
}

/* #banner:hover{
    transition: 1500ms linear;
    position: relative;
} */

/*#banner h1{
    margin: 0;
    font-weight: 450;
    font-size: 5.05vw;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    transition: 300ms linear;
    width: 90%;
}

/* #banner h1:hover{
    font-size: 6vw;
    transition: 150ms linear;
    position: relative;
} */

#greenline2{
    background-color: #198754;
    height: 6px;
    width: 100%;
    position: absolute;
}