@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html,

.navbar{
    font-family: 'Roboto Mono', monospace;
}

.navbar-collapse{
    flex-grow: 0;
}
.navbar .navbar-collapse {
    text-align: center;
}

.container-fluid.my-container-fluid{
    justify-content: center;
}

#greenline1{
    background-color: #198754;
    height: 5px;
    position:sticky;
    width: 100%;
}

.login{
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    width: min-content;
    align-items: center;
    text-align: center;
}

.login:hover{
    background-color: #198754;
}
